[submodule "renderkit"]
	path = renderkit
	url = git@github.com-p31:prime31/zig-renderkit.git
[submodule "gamekit/deps/imgui/cimgui"]
	path = gamekit/deps/imgui/cimgui
	url = https://github.com/cimgui/cimgui.git
